@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --title-color: #ffffff;
    --para-color: #aaaaaa;
    --card-bg: #242323;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
}


/* Quiz Section */

.quiz-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 25px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 3%;
}

.quiz-title {
    color: var(--title-color);
    font-size: 40px;
    font-weight: 600;

    max-width: 600px;

    text-align: center;
    margin: auto;
    padding: 0 20px;
}

.quiz-description {
    color: var(--para-color);
    font-size: 17px;
    text-align: center;

    opacity: 75%;
    text-transform: uppercase;
}

.quiz-list {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.quiz-title strong {
    color: #79d19e;
}

.quiz-button {
    background-color: var(--card-bg);
    padding: 20px 50px;
    border-radius: 10px;

    transition: transform 0.3s ease;
    cursor: pointer;

    fill-opacity: 5%;
    text-decoration: none;
}

.quiz-counter {
    color: var(--title-color);
    font-weight: 600;
    opacity: 70%;

}


.quiz-button:hover {
    transform: scale(1.05);
}

.quiz-button[selected="true"] {
    background-color: aqua;
}

